body  {
  font-family: "Montserrat", sans-serif;
  margin:0px;
  background-color: #000000;
  color:#ffffff;
  overflow:hidden;
}

.main{
    display:flex;
    height:100vh;
}

.sidebar{
    background-color:#121212;
    width:340px;
    border-radius: 1rem;  /*1rem=16px(root fontsize is 16px)*/
}

.main-content{
    background-color:#121212;
    flex:1;  /*bachi hui sari jagah mujhe dedo*/
    border-radius: 1rem;
    overflow:auto;
}

.music-player{
    background-color:black;
    position:fixed;
    bottom:0px;
    width:100%;
    height:72px;
}